*.class
**~

# Package Files #
*.jar
*.war
*.ear

# Maven
target

# Eclipse
.classpath
.metadata
.project
.settings

# IntelliJ
.idea
*.iml

# Python
*.pyc

application.properties
application-prod.properties
application-local.properties
